/* Field content CSS */

anki-editable {
    background: darkslategray;
}
anki-editable[notetype="Tippy"][ord="1"] {
    background: green;
}
anki-editable[notetype="Tippy"][ord="2"] {
    background: yellow;
}

anki-editable[notetype="Gehölzkunde"][ord="1"] {
    background: red;
}
anki-editable[notetype="Gehölzkunde"][ord="2"] {
    background: blue;
}
